@(atividades: List[Atividade], atividadeForm: Form[Atividade])

@import helper._
@import helper.twitterBootstrap._

@main("junt.se beta | experiências únicas, de gente pra gente") {
    
    <h2>@atividades.size() atividade(s)</h2>
    <br>
    
    @if(!atividades.isEmpty) {
	    <table class="table table-striped">
	        <thead>
	            <tr>
	                <th>Título</th>
	                <th>Descrição</th>
	                <th>Local</th>
	                <th>Data</th>
	                <th>Duração</th>
	                <th>Max. participantes</th>
	                <th>&nbsp;</th>
	            </tr>
	        </thead>
	        @for(atividade <- atividades) {
	    		<tr>
	                <td>@atividade.titulo</td>
	                <td>@atividade.descricao</td>
	                <td>@atividade.local</td>
	                <td>@atividade.data</td>
	                <td>@atividade.duracao</td>
	                <td>@atividade.participantes</td>
	                <td>
	                	@form(routes.Atividades.delete(atividade.id)) {
                    		<input type="submit" class="btn btn-danger" value="Excluir">
                		}
                	</td>
	            </tr>
	        }
	    </table>
	} else {
		<h3>Ninguém cadastrou a atividade de seu interesse. Seja o primeiro!<h3>
		<br><br>
	}
    
    <h2>Criar nova atividade</h2>
    <br>
    
    @form(routes.Atividades.create(), 'class -> "form-vertical") {
    
    	@inputText(
			atividadeForm("titulo"),
			'_label -> "Título",
			'placeholder -> "Observar a florada das cerejeiras no Parque do Carmo / SP",
			'class -> "span5",
			'_showConstraints -> false
		)
		
		@textarea(
			atividadeForm("descricao"),
			'_label -> "Descrição",
			'placeholder -> "Detalhes da atividade, dicas e informações adicionais.",
			'rows -> 5,
			'class -> "span5",
			'_showConstraints -> false
        )
    	
    	@inputText(
			atividadeForm("local"),			
			'_label -> "Local",
			'placeholder -> "Parque do Carmo, São Paulo/SP",
			'class -> "span5",
			'_showConstraints -> false
		)
    	
    	@inputDate(
    		atividadeForm("data"),
    		'_label -> "Data",
    		'placeholder -> "dd/mm/yyyy",
			'_showConstraints -> false
    	)
    	
    	
    	@select(
			atividadeForm("duracao"), 
			options(Atividade.duracaoOptions), 
			'_label -> "Duração",
			'_default -> "-- Selecione --",
			'_showConstraints -> false
        )
        
        @inputText(
			atividadeForm("participantes"),			
			'_label -> "Limite máximo de participantes",
			'placeholder -> "",
			'class -> "span1",
			'_showConstraints -> false
		)
    	
        <input type="submit" class="btn btn-inverse span5" value="Criar atividade">
    	
    }
 	   
}