@(atividades: List[Atividade], atividadeForm: Form[Atividade])

@import helper._

@main("junt.se beta | experiências únicas, de gente pra gente") {
    
    <h1>@atividades.size() atividade(s)</h1>
    
    @if(!atividades.isEmpty) {
	    <table class="table table-striped">
	        <thead>
	            <tr>
	                <th>Título</th>
	                <th>Descrição</th>
	                <th>&nbsp;</th>
	            </tr>
	        </thead>
	        @for(atividade <- atividades) {
	    		<tr>
	                <td>@atividade.titulo</td>
	                <td>@atividade.descricao</td>
	                <td>
	                	@form(routes.Atividades.delete(atividade.id)) {
                    		<input type="submit" class="btn btn-danger" value="Excluir">
                		}
                	</td>
	            </tr>
	        }
	    </table>
	} else {
	}
    
    <h2>Criar nova atividade</h2>
    
    <form action="/atividades" method="POST">
    	<label>Título</label>
    	<input id="titulo" type="text" class="span5">
    	
    	<label>Local</label>
    	<input id="local" type="text" class="span5">
    	
    	<label>Data</label>
    	<input id="data" type="text" class="span2" data-date-format="dd/mm/yyyy">
    	<script>
    		$('#data').datepicker();
    	</script>
    	<label>Horário</label>
    	<input id="horario" type="text" class="span2">
    	
    	<label>Duração</label>
    	<input id="duracao" type="text" class="span2">
    	
    	<label>Participantes</label>
    	<input id="participantes" type="text" class="span2">
    	
        <input type="submit" class="btn btn-inverse" value="Criar atividade">
    </form>
    
}