@(atividades: List[Atividade], atividadeForm: Form[Atividade])

@import helper._

@main("Atividades") {
    
    <h1>@atividades.size() atividade(s)</h1>
    
    <ul>
        @for(atividade <- atividades) {
            <li>
                @atividade.titulo
                
                @form(routes.Atividades.delete(atividade.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Criar nova atividade</h2>
    
    @form(routes.Atividades.create()) {
        
        @inputText(atividadeForm("titulo")) 
        
        <input type="submit" value="Create">
        
    }
    
}