@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
		<meta charset="utf-8">
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        
    </head>
    <body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
				
					<div class="nav-collapse">
						<ul class="nav pull-left">
							<a href="/" class="brand" id="juntse"><strong>junt.se</strong></a>
							<li class="divider-vertical"></li>
						</ul>
	                    
	                    <script>
	                    	$(document).ready(function() {
								$('#btnExplorar').click(function(){
									var filtro = $('#iptExplorar').val();
									
									var url = '/atividades/explorar/'+filtro;
									$.ajax({
										url: url,
										type: 'GET'
									});
								});
							});
	                    </script>
	                    
                        <div id="explorar" class="navbar-search">
							<input id="iptExplorar" type="text" class="search-query span4" placeholder="pesquise por lugares e atividades únicos...">
                        	<a id="btnExplorar" class="btn btn-inverse btn-small" href="#">
                            	explorar!
                        	</a>
                        </div>
	
						<ul class="nav pull-right">
							<li class="divider-vertical"></li>
							<li><a href="/explorar">explorar</a></li>
							<li><a href="/atividades/criar">criar atividade</a></li>
							<li><a href="/topei">eu topei</a></li>
							<li><a href="/conta">minha conta</a></li>
							<li><a href="/logout">sair</a></li>
							<li class="divider-vertical"></li>
						</ul>					
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
        	<br><br>
        	@content
        </div>
    </body>
</html>